{
    "plugins": [
        "node"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:node/recommended"
    ],
    "parserOptions": {
        "ecmaVersion": 8
    },
    "rules": {
        "no-console": "off",
        "no-unused-vars":"warn",
        "node/exports-style": [
            "error",
            "module.exports"
        ]
    }
}
